<div class="single-page-artical" ng-controller="Question">



    <div class="artical-commentbox">
        <h3>Post Your Question</h3>

        <div class="table-form">
            <form>
                <input type="text" class="textbox" ng-model="Title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Title';}">
                <select class="selectbox" ng-model="language" ng-options="Lang.language as Lang.language for Lang in Languages">
                    <option value="">--Select language--</option>
                </select>
                <textarea value="Message:" ng-model="Question" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Description';}"></textarea>
                <h3>What have you done so far </h3>
                <textarea runat="server" ng-model="Question_Description" id="txtQuestion"></textarea>
                <input type="submit" value="Submit" ng-click="SubmitQues()">
            </form>
        </div>
    </div>
</div>
